/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1d;
    color: #fff;
}

.login-container {
    background-color: #333;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #f2a900;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #f2a900;
}
.frm {
    margin-top: 10px;
    
}